{% extends 'base.html.twig' %}

{% block title %}Progica{% endblock %}

{% block body %}
<hr>
<h2 style="text-align: center;">Bonjour {{user.firstName}}</h2>
<hr>

<div style="align-items: center;">
{% if disponibilites == null %}
	<button type="button" class="btn btn-dark"><a href="{{path('contactDispo')}}" style="text-decoration: none; color: white;">Disponibilité</a></button>
{% endif %}
	<button type="button" class="btn btn-dark"><a href="{{path('create')}}" style="text-decoration: none; color: white;">Créer une nouvelle annonce</a></button>
	<button type="button" class="btn btn-dark"><a href="/logout" style="text-decoration: none; color: white;">Deconnexion</a></button>
</div>

<br>
<h3>Vos disponibilités :</h3>
{% if disponibilites != null %}	
	<p>Le {{disponibilites.day}} de {{disponibilites.hourStart}}h à {{disponibilites.hourEnd}}h</p>
{% else %}
	<p>Vous n'avez pas encore rentré de disponibilité.</p>
{% endif %}
<br>

<h3>Vos annonces : </h3>
{% if gites != null %}
	{% for gite in gites %}
	<div class="col-md-12">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-success">{{gite.city.name}}</strong>
				<h3 class="mb-0">{{gite.title}}</h3>
				<p>{{gite.price}}€ / jour</p>
				<p>{{gite.surface}}m²</p>
				<p>Ce gîte dispose de {{gite.room}}
					chambre(s) et de {{gite.bed}}
					lit(s).</p>
				<p>Description : {{gite.description}}</p>
				<a href="{{path('show_house', {'id': gite.id})}}">See more</a>
			</div>
			<div class="col-auto d-none d-lg-block">
				<img src="{{gite.image}}" alt="" style="width:400px; height:300px">
			</div>
		</div>
	</div>
	<button type="button" class="btn btn-dark"><a href="{{path('edit', {'id': gite.id})}}" style="text-decoration: none; color: white;">Modifier</a></button>
	<button type="button" class="btn btn-dark"><a href="{{path('delete', {'id': gite.id})}}" style="text-decoration: none; color: white;">Supprimer</a></button>
	<hr>
	{% endfor %} 

{% else %}
	<p>Vous n'avez pas d'annonce.</p>
{% endif %}

{% endblock %}
