{% extends 'base.html.twig' %}

{% block title %}Progica{% endblock %}

{% block body %}
<hr>
<h2 style="text-align: center;">Bonjour {{user.firstName}}</h2>
<hr>

<h3>Vos annonces : </h3>
{% if gite != null %}
<div class="col-md-12">
	<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
		<div class="col p-4 d-flex flex-column position-static">
			<strong class="d-inline-block mb-2 text-success">{{gite.location}}</strong>
			<h3 class="mb-0">{{gite.title}}</h3>
			<p>{{gite.price}}€ / jour</p>
			<p>Ce gîte dispose de {{gite.room}}
				chambre(s) et de {{gite.bed}}
				lit(s).</p>
			<p>Description : {{gite.description}}</p>
			<a href="{{path('show_house', {'id': gite.id})}}">See more</a>
		</div>
		<div class="col-auto d-none d-lg-block">
			<img src="{{gite.image}}" alt="" style="width:200px; height:250px">
		</div>
	</div>
</div>
<button type="button" class="btn btn-dark"><a href="{{path('edit', {'id': gite.id})}}" style="text-decoration: none; color: white;">Modifier</a></button>
<button type="button" class="btn btn-dark"><a href="{{path('delete', {'id': gite.id})}}" style="text-decoration: none; color: white;">Supprimer</a></button>
<hr>
{% else %}

<p>Vous n'avez pas d'annonce</p>
{% endif %}
<div style="align-items: center;">
<button type="button" class="btn btn-dark"><a href="{{path('create')}}" style="text-decoration: none; color: white;">Créer une nouvelle annonce</a></button>

<button type="button" class="btn btn-dark"><a href="/logout" style="text-decoration: none; color: white;">Log Out</a></button>
</div>


{% endblock %}
