{% extends 'base.html.twig' %}

{% block title %}Progica{% endblock %}

{% block body %}
<h1>Welcome !</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quidem nulla eligendi consequatur soluta sapiente neque reiciendis quibusdam officiis perspiciatis recusandae quaerat, mollitia provident nostrum deleniti consectetur asperiores libero minima.
	Velit adipisci enim commodi corporis id assumenda dolor quia quis eum minus nam saepe neque quidem provident, dolorem eius laudantium, alias voluptates voluptate ratione animi dolorum. Incidunt ullam quae nobis!
	Facere at recusandae corrupti dolor illo consequatur, voluptas consequuntur ullam magni nesciunt fugiat, quaerat molestiae cum quos repellendus labore ad, exercitationem a nemo! Architecto, quos. Odit ea similique atque necessitatibus?
	Debitis quidem tempore eligendi, molestiae perferendis consequuntur architecto. Porro quaerat consequuntur eos, incidunt quia rerum ducimus. Exercitationem vero libero rerum sapiente qui eligendi. Sequi dolorum debitis, adipisci omnis voluptatibus voluptatem?
	Quo, fugiat aut deleniti vitae eos labore? Aliquam, necessitatibus optio cupiditate molestias eaque, dolorem error dolores perspiciatis tempora modi aut in ducimus quos impedit corporis sint. Exercitationem similique mollitia voluptatum.
	Blanditiis quas exercitationem molestiae ea voluptas necessitatibus, molestias soluta explicabo amet alias expedita. Error, praesentium. Quas accusamus earum quae cupiditate officia aliquam, fugit, perspiciatis ratione laborum adipisci ad suscipit aut!</p>

<div class="row mb-2">
	<div class="col-md-6">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-success">{{gite.location}}</strong>
				<h3 class="mb-0">{{gite.title}}</h3>
				<p class="mb-auto">{{gite.description}}</p>
				<a href="{{path('show_house', {'id': gite.id})}}" class="stretched-link">See more</a>
			</div>
			<div class="col-auto d-none d-lg-block">
				<img src="{{gite.image}}" alt="" style="width:200px; height:250px">
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-success">{{giteRand.location}}</strong>
				<h3 class="mb-0">{{giteRand.title}}</h3>
				<p class="mb-auto">{{giteRand.description}}</p>
				<a href="{{path('show_house', {'id': giteRand.id})}}" class="stretched-link">See more</a>
			</div>
			<div class="col-auto d-none d-lg-block">
				<img src="{{giteRand.image}}" alt="" style="width:200px; height:250px">
			</div>
		</div>
	</div>


{% endblock %}
