{% extends 'base.html.twig' %}

{% block title %}Progica{% endblock %}

{% block body %}
<h1>Welcome !</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia ab impedit laborum placeat laboriosam culpa vero, doloribus vel saepe blanditiis aliquid. Rem ipsum nulla explicabo ex laboriosam voluptatibus incidunt, veniam autem harum illum odit! Maxime exercitationem unde, dolorem minima porro tempora facilis voluptate est eum placeat consectetur cumque alias harum repudiandae amet! Omnis ratione alias sint nisi quas maxime velit.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid ex consequuntur placeat illum explicabo architecto quos. Nisi sed expedita voluptate recusandae, assumenda sit alias harum cupiditate facere eos! Neque, iste!</p>
<p>
Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum quidem nulla eligendi consequatur soluta sapiente neque reiciendis quibusdam officiis perspiciatis recusandae quaerat, mollitia provident nostrum deleniti consectetur asperiores libero minima.
Velit adipisci enim commodi corporis id assumenda dolor quia quis eum minus nam saepe neque quidem provident, dolorem eius laudantium, alias voluptates voluptate ratione animi dolorum. Incidunt ullam quae nobis!
</p>
<hr>


<h1>Laissez vous tenter </h1>
<br>
<div class="row mb-2">
	<div class="col-md-6">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-success">{{gite.location}}</strong>
				<h3 class="mb-0">{{gite.title}}</h3>
				<p class="mb-auto">{{gite.description}}</p>
				<a href="{{path('show_house', {'id': gite.id})}}" class="stretched-link">See more</a>
			</div>
			<div class="col-auto d-none d-lg-block">
				<img src="{{gite.image}}" alt="" style="width:200px; height:250px">
			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col p-4 d-flex flex-column position-static">
				<strong class="d-inline-block mb-2 text-success">{{giteRand.location}}</strong>
				<h3 class="mb-0">{{giteRand.title}}</h3>
				<p class="mb-auto">{{giteRand.description}}</p>
				<a href="{{path('show_house', {'id': giteRand.id})}}" class="stretched-link">See more</a>
			</div>
			<div class="col-auto d-none d-lg-block">
				<img src="{{giteRand.image}}" alt="" style="width:200px; height:250px">
			</div>
		</div>
	</div>



{% endblock %}
