{% extends 'base.html.twig' %}

{% block title %}Progica{% endblock %}

{% block body %}
                {# <div class="col-md-12">
                    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                        <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">{{gite.localisation}}</strong>
                        <h3 class="mb-0">{{gite.name}}</h3>
                            <div class="mb-1 text-muted">Disponible dès : {{gite.disponibility}}</div>
                            <p>{{gite.price}}€ / jour</p>
                            <p>{{gite.description}}</p>
                            <p>Numéro de contact : {{gite.ContactNumber}}</p>
                            <p>Numéro du propriétaire : {{gite.LandlordNumber}}</p>
                            </div>
                        <div class="col-auto d-none d-lg-block">
                        <img src="{{gite.image}}" alt="" style="width:200px; height:250px">
                        </div>
                    </div>
                </div>
            {% for region in regions %}
                <h3 class="mb-0">{{region.name}}</h3>
            {% endfor %}  #}
{% endblock %}